@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --form-control-color: rgb(255, 255, 0);
}

html,
body {
  background-image: url("../imgs/background.jpg");
  height: -moz-fit-content;
  height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Rajdhani", sans-serif;
}

#hero-section {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
#hero-section #banner {
  width: 30%;
}

.glassmorphisim {
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.glassmorphisim-box {
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.443);
  display: grid;
  grid-template-areas: "img" "pokemonName" "category";
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.506);
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}
.glassmorphisim-box a {
  grid-area: category;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  margin: 20px 0 20px 0;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.443);
}
.glassmorphisim-box p {
  grid-area: pokemonName;
}
.glassmorphisim-box img {
  grid-area: img;
  width: 200px;
}

#pokeList {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 15px;
  padding: 30px 50px;
}

#filters-and-search {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-template-areas: "search search search search search" "dropdown dropdown dropdown dropdown dropdown" "water fire rock ground bug" "grass poison electric fairy fighting" "psychic dragon ice ghost norm" "showall showall showall showall showall";
}
#filters-and-search label {
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
#filters-and-search label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.443);
  border-radius: 50%;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}
#filters-and-search label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.506);
  border: 2px solid rgba(255, 255, 255, 0.443);
  border-radius: 50%;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}
#filters-and-search input[type=radio] {
  display: none;
}
#filters-and-search input[type=radio]:checked + label::before {
  border-color: var(--primary-color);
}
#filters-and-search input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}
#filters-and-search .radio-item {
  margin: 0.4rem 0;
}
#filters-and-search #show-all {
  grid-area: showall;
}
#filters-and-search #search {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.443);
  padding: 10px 40px;
  margin-top: 8px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.506);
  color: white;
  grid-area: search;
}
#filters-and-search #show-water {
  grid-area: water;
}
#filters-and-search #show-fire {
  grid-area: fire;
}
#filters-and-search #show-rock {
  grid-area: rock;
}
#filters-and-search #show-ground {
  grid-area: ground;
}
#filters-and-search #show-bug {
  grid-area: bug;
}
#filters-and-search #show-grass {
  grid-area: grass;
}
#filters-and-search #show-poison {
  grid-area: poison;
}
#filters-and-search #show-electric {
  grid-area: electric;
}
#filters-and-search #show-fairy {
  grid-area: fairy;
}
#filters-and-search #show-fighting {
  grid-area: fighting;
}
#filters-and-search #show-psychic {
  grid-area: psychic;
}
#filters-and-search #show-dragon {
  grid-area: dragon;
}
#filters-and-search #show-ice {
  grid-area: ice;
}
#filters-and-search #show-ghost {
  grid-area: ghost;
}
#filters-and-search #show-normal {
  grid-area: norm;
}
#filters-and-search #filter {
  grid-area: dropdown;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.443);
  padding: 10px 30px;
  margin-top: 8px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.506);
  color: white;
}