.grass {
  background: $grass;
}

.fire {
  background: $fire;
}

.bug {
  background: $bug;
}

.water {
  background: $water;
}

.poison {
  background: $poison;
}

.electric {
  background: $electric;
}

.ground {
  background: $ground;
}

.fairy {
  background: $fairy;
}

.fighting {
  background: $fighting;
}

.psychic {
  background: $psychic;
}

.rock {
  background: $rock;
}

.ghost {
  background: $ghost;
}

.ice {
  background: $ice;
}

.dragon {
  background: $dragon;
}

.normal {
  background: $normal;
}
.show {
  display: grid !important;
}
