$primary-font: white;
$secondary-font: rgb(0, 0, 0);

$grass: rgba(104, 193, 62, 0.5);
$fire: rgba(234, 107, 37, 0.5);
$bug: rgba(153, 173, 25, 0.5);
$water: rgba(86, 121, 236, 0.5);
$poison: rgba(140, 39, 142, 0.5);
$electric: rgba(246, 200, 38, 0.5);
$ground: rgba(216, 180, 86, 0.5);
$fairy: rgba(231, 132, 156, 0.5);
$fighting: rgba(176, 30, 31, 0.5);
$psychic: rgba(244, 61, 117, 0.5);
$rock: rgba(168, 145, 44, 0.5);
$ghost: rgba(92, 66, 134, 0.5);
$ice: rgba(137, 208, 207, 0.5);
$dragon: rgba(91, 16, 246, 0.5);
$normal: rgba(151, 144, 101, 0.5);
