:root {
  --form-control-color: rgb(255, 255, 0);
}

html,
body {
  //Image used
  background-image: url("../imgs/background.jpg");

  //Full height
  height: fit-content;

  //Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //Define the font for the whole webpage
  font-family: $myFont;
}

#hero-section {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
  #banner {
    width: 30%;
  }
}

.glassmorphisim {
  @include background-effect;
}

.glassmorphisim-box {
  @include background-effect;
  @include border-styles;
  display: grid;
  grid-template-areas: ("img" "pokemonName" "category");
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.506);
  color: $primary-font;
  font-size: $large;
  text-transform: uppercase;
  a {
    grid-area: category;
    font-size: $small;

    font-weight: bold;
    padding: 0 10px 0 10px;
    margin: 20px 0 20px 0;
    @include border-styles;
  }
  p {
    grid-area: pokemonName;
  }
  img {
    grid-area: img;
    width: 200px;
  }
}

#pokeList {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 15px;
  padding: 30px 50px;
}

#filters-and-search {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-template-areas:
    "search search search search search"
    "dropdown dropdown dropdown dropdown dropdown"
    "water fire rock ground bug"
    "grass poison electric fairy fighting"
    "psychic dragon ice ghost norm"
    "showall showall showall showall showall";

  label {
    color: $primary-font;
    font-size: $medium;
    cursor: pointer;
    position: relative;
  }
  label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.443);
    border-radius: 50%;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
    transition: border-color 400ms ease;
  }

  label::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.506);
    border: 2px solid rgba(255, 255, 255, 0.443);
    border-radius: 50%;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%) scale(0);
    transition: transform 400ms ease;
  }

  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label::before {
    border-color: var(--primary-color);
  }

  input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(0.55);
  }

  .radio-item {
    margin: 0.4rem 0;
  }

  #show-all {
    grid-area: showall;
  }
  #search {
    @include border-styles;
    padding: 10px 40px;
    margin-top: 8px;
    text-transform: uppercase;
    text-align: center;
    font-family: $myFont;
    background-color: rgba(0, 0, 0, 0.506);
    color: $primary-font;
    grid-area: search;
  }
  #show-water {
    grid-area: water;
  }
  #show-fire {
    grid-area: fire;
  }
  #show-rock {
    grid-area: rock;
  }
  #show-ground {
    grid-area: ground;
  }
  #show-bug {
    grid-area: bug;
  }
  #show-grass {
    grid-area: grass;
  }
  #show-poison {
    grid-area: poison;
  }
  #show-electric {
    grid-area: electric;
  }
  #show-fairy {
    grid-area: fairy;
  }
  #show-fighting {
    grid-area: fighting;
  }
  #show-psychic {
    grid-area: psychic;
  }
  #show-dragon {
    grid-area: dragon;
  }
  #show-ice {
    grid-area: ice;
  }
  #show-ghost {
    grid-area: ghost;
  }
  #show-normal {
    grid-area: norm;
  }
  #filter {
    grid-area: dropdown;
    @include border-styles;
    padding: 10px 30px;
    margin-top: 8px;
    text-transform: uppercase;
    text-align: center;
    font-family: $myFont;
    background-color: rgba(0, 0, 0, 0.506);
    color: $primary-font;
  }
}
