:root {
  --form-control-color: rgb(255, 255, 0);
}

html,
body {
  //Image used
  background-image: url("../imgs/background.jpg");

  //Full height
  height: fit-content;

  //Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //Define the font for the whole webpage
  font-family: $myFont;
}

#hero-section {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
  #banner {
    width: 30%;
  }
}

.glassmorphisim {
  @include background-effect;
}

.glassmorphisim-box {
  @include background-effect;
  @include border-styles;
  display: grid;
  grid-template-areas: ("img" "pokemonName" "category");
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.506);
  color: $primary-font;
  font-size: $large;
  text-transform: uppercase;
  a {
    grid-area: category;
    font-size: $small;

    font-weight: bold;
    padding: 0 10px 0 10px;
    margin: 20px 0 20px 0;
    @include border-styles;
  }
  p {
    grid-area: pokemonName;
  }
  img {
    grid-area: img;
    width: 200px;
  }
}

#pokeList {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 15px;
  padding: 30px 50px;
}

#filters-and-search {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-template-areas:
    "search search search search search"
    "dropdown dropdown dropdown dropdown dropdown"
    "filter-heading filter-heading filter-heading filter-heading filter-heading"
    "container container container container container";
  input[type="button"] {
    @include border-styles;
    display: block;
    text-transform: capitalize;
    font-family: $myFont;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.506);
    color: $primary-font;
    font-size: $medium;
    padding: 10px 40px;
  }
  input[type="button"]:hover {
    background: rgba(255, 255, 255, 0.506);
    color: $secondary-font;
  }
  .button-item {
    margin: 0.4rem 0;
  }

  #search {
    @include border-styles;
    padding: 10px 40px;
    margin-top: 8px;
    text-transform: uppercase;
    text-align: center;
    font-family: $myFont;
    background-color: rgba(0, 0, 0, 0.506);
    color: $primary-font;
    grid-area: search;
  }
  #filter-label {
    grid-area: filter-heading;
    color: $primary-font;
  }
  #show-water {
    grid-area: water;
  }
  #show-fire {
    grid-area: fire;
  }
  #show-rock {
    grid-area: rock;
  }
  #show-ground {
    grid-area: ground;
  }
  #show-bug {
    grid-area: bug;
  }
  #show-grass {
    grid-area: grass;
  }
  #show-poison {
    grid-area: poison;
  }
  #show-electric {
    grid-area: electric;
  }
  #show-fairy {
    grid-area: fairy;
  }
  #show-fighting {
    grid-area: fighting;
  }
  #show-psychic {
    grid-area: psychic;
  }
  #show-dragon {
    grid-area: dragon;
  }
  #show-ice {
    grid-area: ice;
  }
  #show-ghost {
    grid-area: ghost;
  }
  #show-normal {
    grid-area: norm;
  }
  #show-all {
    grid-area: showall;
  }
  #filter {
    grid-area: dropdown;
    @include border-styles;
    padding: 10px 30px;
    margin-top: 8px;
    text-transform: uppercase;
    text-align: center;
    font-family: $myFont;
    background-color: rgba(0, 0, 0, 0.506);
    color: $primary-font;
  }
  #button-container {
    width: 100vw;
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "water fire rock ground bug"
      "grass poison electric fairy fighting"
      "psychic dragon ice ghost norm"
      "showall showall showall showall showall";
    justify-items: center;
    gap: 20px;
  }
  .active {
    background: rgba(255, 255, 255, 0.506) !important;
    color: $secondary-font !important;
  }
}
.slideOne {
  display: grid;
  grid-template-areas:
    "img"
    "pokemonName"
    "category";
  justify-items: center;
}
.slideTwo {
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "statsHeading"
    "health"
    "attack"
    "defense";
}

.swiper-wrapper {
  display: grid;
  overflow: hidden; /* Hide the overflow of the wrapper */
  width: 100%; /* Adjust the width as needed */
}
.swiper-wrapper .swiper-slide {
  width: 100%; /* Make each slide take up the full width */
}
